<section id="profile-contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 wow bounceInLeft">
        <div class="profile-item">
          <i class="fa fa-envelope-o"></i>
          <h5><a href="#">david@mtosh.net</a></h5>
        </div>
      </div>
      <div class="col-sm-4 wow bounceInUp">
        <div class="profile-item">
          <i class="fa fa-phone"></i>
          <h5>+61418387988</h5>
        </div>
      </div>
      <div class="col-sm-4 wow bounceInRight">
        <div class="profile-item">
          <i class="fa fa-map-marker"></i>
          <h5>9 Lightfoot Street, Richmond VIC 3121</h5>
        </div>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</section>
