<section id="resume" class="section">
  <div class="container">
    
    <div class="row">      
      <div class="col-md-12 wow bounceInDown">
        <h2>Resume</h2>
        <p>My experience and education.</p>
      </div>    
    </div><!-- .row -->   

    <div class="col-md-12 wow bounceInLeft">
        <h3>Experience</h3>
      </div>

    <div class="row resume-items" *ngFor='let job of jobs'>          
      <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
        <h4><i class="fa fa-suitcase"></i> {{job.company}}</h4>
        <i class="fa fa-calendar"></i> {{job.timeFrame}}
        <hr class="visible-xs">
      </div>
      <div class="col-md-9 col-sm-7 resume-item wow bounceInUp">
        <h4>{{job.project}}</h4>
        <p>{{job.details}}</p>
        <hr class="hidden-xs">
      </div>            
    </div><!-- .row -->    
  </div><!-- .container -->
</section>