<section id="profile" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 headline wow bounceInDown">
        <h2>David Mackintosh</h2>
        <p>Full stack asp.net developer.</p>
      </div>
      <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
        <img class="avatar" src="assets/images/photo.png" alt="">
      </div>
      <div class="col-md-3 col-sm-6 wow bounceInUp">
        <div class="profile-widget">
          <h3>Skillset</h3>
          <ul>
            <li>ASP<b>.</b>NET</li>
            <li>C#</li>
            <li>MVC</li>
            <li>Entity Framework</li>
            <li>JavaScript</li>
            <li>Angular.js</li>
            <li>Angular</li>
            <li>Knockout.js</li>
            <li>JQuery</li>
            <li>HTML 5, CSS 3</li>
            <li>Web API</li>
            <li>WCF</li>
            <li>Azure</li>
            <li>SQL Server</li>
            <li>Oracle PL/SQL</li>
          </ul>
        </div>
      </div><!-- .col-md-3 -->
      <div class="col-md-6 col-sm-12 wow bounceInRight">
        <h3>Profesional Profile</h3>
        <p>Passionate Microsoft Full stack (web) senior developer, extensively experienced in technologies including MVC, 
          Javascript (Knockout.js, Angular 1) WCF, Web API, REST and SQL Server, Oracle PLSQL and Entity framework.
          <br/><br/>
          Experienced in working in Agile teams and with the Scrum methodology.
          Team leader experience.
          Spent over 10 years in the financial services / wealth management business domain.
          <br/><br/>
          I have an excellent positive, pragmatic - 'get the job done' attitude - encompassed within a strong theoretical and practical understanding of best practice and process including Agile methodologies
          <br/><br/>
          Seeking interesting, fast paced and challenging green fields contract opportunities.</p>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</section>
