<section id="profile" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 headline wow bounceInDown">
        <h2>David Mackintosh</h2>
        <p>Full stack asp.net developer.</p>
      </div>
      <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
        <img class="avatar" src="assets/images/photo.png" alt="">
      </div>
      <div class="col-md-3 col-sm-6 wow bounceInUp">
        <div class="profile-widget">
          <h3>Skillset</h3>
          <h5>UX Design</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
          </div>
          <h5>HTML / CSS3 / SASS</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
            <div class="skill-rate-off"></div>
          </div>
          <h5>Javascript</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
            <div class="skill-rate-on"></div>
          </div>
          <h5>Ajax</h5>
          <div class="skill-bar">
            <div class="skill-rate-on"></div>
            <div class="skill-rate-off"></div>
            <div class="skill-rate-off"></div>
            <div class="skill-rate-off"></div>
          </div>
        </div>
      </div><!-- .col-md-3 -->
      <div class="col-md-6 col-sm-12 wow bounceInRight">
        <h3>Profesional Profile</h3>
        <p></p>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</section>
